################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/SiemAgent/bin/Debug/net8.0
/SiemAgent/.vs/SiemAgent/v16
SiemAgent/obj
SiemAgent/bin
SIEMCore/bin
SIEMCore/obj
Tests
bin/
obj/
