################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SiemAgent/obj
/SiemAgent/bin/Debug/net8.0
/SiemAgent/.vs/SiemAgent/v16
